@CHARSET "UTF-8";


body {
	background-color: #f5f5f5;
	font-family: Verdana;
	font-size: 23px;
	margin: 0;
	color: #4d4d4d;

}

section {
	margin: 0 auto;
	max-width: 550px;
}

h1 {
		text-align: center;
		margin: 26px 0;
		font-family: Raleway, sans-serif;
		font-size: 100px;
		font-weight: 100;
		color: #ead7d8;
	}

button,
input,
div[contenteditable="true"] {
	outline: 0;
}

	.page {
		background-color: #fff;
		border: 1px solid #cecece;
		box-shadow: 0 10px 50px #cdcdcd;
	}

		.first-line {
			color: #d9d9d9;
			font-style: italic;
			border-bottom: 2px solid #e6e6e6;
		}
			.caret {
				display: inline-block;
				vertical-align: middle;
				width: 34px;
				height: 34px;
				margin: 13px 21px 13px 7px;
				background: url(img/caret.png) center center no-repeat;
			}
			input {
				display: inline-block;
				vertical-align: middle;
				font: inherit;
				color: inherit;
				border: none;
			}

		.rounded {
			padding: 20px 0 15px 0;
			border-bottom: 1px solid #ededed;
			display: flex;
			align-items: center;
		}	
			.rounded input {
				display: none;
				
			}
				.rounded label {
					flex:1;
				}

						.rounded label:before {
						content: '';
						display: inline-block;
						vertical-align: middle;
						width: 32px;
						height: 32px;
						border: 1px solid #efefef;
						border-radius: 50%;
						margin: 0 22px 0 7px;
					}
					.rounded input:checked + label {
						text-decoration: line-through;
						color: #d9d9d9;
					}
					.rounded input:checked + label:before {
						background: url(img/check.png) center center no-repeat;
					}
				
					.rounded:hover button.del  {

						vertical-align: middle;
						margin-right: 24px;
						width: 15px;
						height: 15px;
						background: url(img/delete.png) center center no-repeat;
						cursor: pointer;
					}

		.editable {
			padding-left: 50px;
			border-bottom: 1px solid #ededed;
		}
			.edit {
				display: block;
				width: 99.8%;
				box-sizing: border-box;
				box-shadow: inset 0px 0px 6px 3px #ededed;
				border: 0.5px solid #999999;
				font-size: inherit;
				padding: 20px 18px;
			}
			
		.bottom {
			font-size: 12px;
			color: #898989;
			padding: 7px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
			.bottom div {
				display: inline-block;
				text-align: center;
				margin: 0;
			}
				button {
					padding: 7px 8px;
					border: 1px solid #fff;
					border-radius: 3px;
					background:transparent;
					font: inherit;
					color: inherit;
					cursor: pointer;
				}
				.active {
					border-color: #efd5d6;
				}			

section .sub div {
	height: 4px;
	border: 1px solid #cecece;
	border-top: 0 solid;
	background: #f6f6f6;
}
	section .sub div:first-child {
		margin: 0 3px;
	}
	section .sub div:last-child {
		margin: 0 6px;
	}




	